<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="/js/angularApp.js"></script>
<script src="/js/controllers.js"></script>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="profile" ng-controller="headerController">
<div class="container">

<div class="page-header">
  	<div class="container">
  		<div class="row-fluid">
          <h2>Welcome and Thank you for visiting my page!</h2>
      	</div>
  	</div>
</div>

</div>
<div class="container">
<div class="fluid-row">
<div class="col-md-3">
  
      <img src="/images/{{picture}}" class="img-responsive">
   
  </div>

</div>

<div class="col-md-5">

<p class="lead"><b>{{fname}} {{lname}}</b><br>{{title}}</p>

<ul class="list-unstyled">
<li><b>Previous:</b> Kroger, ADP, TCS.</li>
<li><b>Education:</b> Masters in Information Systems</li>
</ul>
</div>

<div class="col-md-4">
<ul class="list-unstyled">
<br>
<li><b>Phone:</b> {{phone}}</li>
<li><b>Email:</b> {{email}}</li>
<li><b>Linkedin:</b> {{linkedin}}</li>
<li><b>GitHub:</b> {{github}}</li>
</ul>

</div>

</div>  

<div class="container">
<hr>
<div class="panel panel-info">
<div class="panel-heading">About me:</div>
<div class="panel-body"><p>{{aboutme}}<p></div>
</div>
</div>
  
<div class="container">

<table class="table table-striped">

<tbody>
<tr>
<td class="col-md-2">Technologies</td>
<td class="col-md-10">
<span class="label label-primary">JAVA</span>
<span class="label label-primary">JAVA EE</span>
<span class="label label-primary">Spring</span>
<span class="label label-primary">Hibernate</span>
<span class="label label-primary">SOAP</span>
<span class="label label-primary">REST</span>
</td>
</tr>

<tr>
<td class="col-md-2">Unit Testing Frameworks:</td>
<td class="col-md-10">
<span class="label label-default">JUnit</span>
<span class="label label-default">Mockito</span>
</td>
</tr>

<tr>
<td class="col-md-2">Build Tools:</td>
<td class="col-md-10">
<span class="label label-warning">Maven</span>
<span class="label label-warning">Gradle</span>
</td>
</tr>

<tr>
<td class="col-md-2">Continuous Integration Tools:</td>
<td class="col-md-10">
<span class="label label-success">Bamboo</span>
<span class="label label-success">TeamCity</span>
</td>
</tr>

<tr>
<td class="col-md-2">Other Tools:</td>
<td class="col-md-10">
<span class="label label-info">Git</span>
<span class="label label-info">Svn</span>
<span class="label label-info">JMeter</span>
<span class="label label-info">SoapUI</span>
<span class="label label-info">Tableau</span>
<span class="label label-info">R</span>
</td>
</tr>

</tbody>
</table>

</div>




</body>
</html>